body {
  font-family:  Helvetica, sans-serf;
  color: #1C1E21;
  text-align: center;
}
h1 {
  color: #1877F2;
  font-size: 50px;
}

input {
  padding: 15px;
  width: 390px;
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #DDDFE2;
  font-size: 18px;
  color: #9E949C;
}
button {
  padding: 15px;
  width: 425px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
a {
  text-decoration: none;
  color: #1877F2;
}
b {
  color: #1C1E21;
}
hr {
  border-style:groove;
  border-bottom: none;
  border-color: #EAF6F6;
  width: 90%;
  margin: 15px 10px 10px 20px;
}
.container {
  width: 35%;
  margin: 100px auto 100px auto;
}
.f-para {
  font-size: 25px;
}
.login-form {
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}
.btn-login {
  font-size: 20px;
  font-weight: bold;
  background-color: #1877F2;
  color: #FFFFFF;
}
.forgot-pass {
  margin: 15px 20px 20px 20px;
  text-align: center;
}
.btn-new-account {
  background-color: #42B72A;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  width: 200px;
  margin: 15px 50px 10px 50px;
}
.create-pg {
  margin: 30px 10px 10px 50px;
  font-size: 14px;
  color: #90949C;
}
